.print-only {
  display: none;
  /*color: aquamarine;*/
}

h1{
  font-size:110%;
}
h2{
  font-size:105%;
}

h3{
  font-size:100%;
}

h4{
  font-size:100%;
}



blockquote {
  font-size:80%;
  border-left: 5px solid $text-muted;
  padding-left: 0.5em;
  border-color: #7a746d;
  color: #000000;
}

blockquote p {
    font-size:80%;
    padding: 0;
    margin: 0px 0;
    line-height: 1.2;
    color: #373A3C;
    font-size: 1.0em;
}

blockquote cite {
    font-size:80%;
    display: block;
    text-align: right;
    color: #000000;
    font-size: 0.9em;
}

caption {
    color: #000000;
    font-size: 0.9em;
}

table {
            width: 80%; /* テーブルの幅を100%に設定 */
 }

p {
    font-size: 80%;
  }
  
@media print {
  @page {
      size: a4 portrait;
      counter-increment: page;
      @bottom-center {
        content: counter(page)
      }
  }
  .no-print {
      display: none;
  }
  .print-only {
      display: block;
  }
