h1{
  font-size:125%;
}

h2{
  font-size:120%;
}

h3{
  font-size:110%;
}

h4{
  font-size:100%;
}

a {
  color: $cyan;
}

a:hover {
  color: #BFAB25;
}

em {
    color: #e63946; /* または #d84c4c */
    font-style: normal; /* 斜体を無効化 */
}

blockquote {
  font-size:95%;
  border-left: 5px solid $text-muted;
  padding-left: 0.5em;
  border-color: #7a746d;
  color: #000000;
}

blockquote p {
    font-size:95%;
    padding: 0;
    margin: -5px 0;
    line-height: 1.2;
    color: #373A3C;
}

blockquote cite {
    font-size:95%;
    display: block;
    text-align: right;
    color: #000000;
    margin: -5px 0;
}

/* codeブロック全体に適用するスタイル */
code {
  background-color: #e6e6fa; /* 背景色 */
  padding: 5px; /* 内側の余白 */
  border-radius: 4px; /* 角の丸み */
  border: 1px solid #ccc; /* 枠線 */
  display: inline-block; /* インライン要素として表示 */
  overflow-x: auto; /* 水平スクロールを可能にする */
}

caption {
    color: #000000;
    font-size: 0.9em;
}

table {
            width: 80%; /* テーブルの幅を100%に設定 */
 }

p {
    font-size: 100%;
  }

footnote-ref {
    color: #333; /* 文字の色を指定 */
    font-size: x-small;
}

header .keywords {
    margin-bottom: -1em;
  }

.footnote {
    font-size: 9px; /* 文字の大きさを指定 */
    line-height: 1.5; /* 行間を指定 */
    color: #333; /* 文字の色を指定 */
    /* その他のスタイルをここに追加 */
}

.print-only {
  display: none;
  /*color: aquamarine;*/
}

@media print {
  @page {
  size: a4 portrait;
  font-family: YuMincho, "Hiragino Mincho ProN", serif;
  @bottom-center {
    content: counter(page) " / " counter(pages);
    font-size: 0.8em;
  }
  }

  title-element {
    white-space: nowrap;
  }

  html {
    font-family: YuMincho,'Hiragino Mincho ProN', serif;
    font-size: 90%;
    line-height: 1.1;
  }

 header {
    margin-block-end: 5em;
  }
  header h1.title {
    text-align: center;
    font-size: 110%;
  }
  header .subtitle {
    text-align: center;
    font-family: 'Hiragino Kaku Gothic ProN', sans-serif;
    font-size: 100%;
  }
  header .author {
    text-align: right;
    margin-block-end: 0em;
    margin-bottom: 0;
  }
  header .date {
    text-align: right;
    margin-block-end: 0em;
    margin: -10;
    font-size: 90%;
  }
  header .affiliation {
    text-align: right;
    margin-block-end: 0em;
    margin-bottom: 0;
  }
  header .keywords {
    text-align: center;
    margin-block-end: 0em;
    margin-bottom: 0;
  }

 h1 {
    font-family: 'Meiryo', 'Hiragino Kaku Gothic ProN', sans-serif;
    font-size: 105%;
  }

 h2 {
    font-family: 'Meiryo', 'Hiragino Kaku Gothic ProN', sans-serif;
    font-size: 100%;
    line-height: 1.2;
    text-decoration: underline
  }

 h3 {
    font-family: 'Meiryo', 'Hiragino Kaku Gothic ProN', sans-serif;
    font-size: 95%;
    line-height: 0.8
  }

 h4 {
    font-family: 'Meiryo', 'Hiragino Kaku Gothic ProN', sans-serif;
    font-size: 95%;
    line-height: 0.8
  }

a {
  color: black;
  text-decoration: none;
}

 strong {
    font-family: 'Meiryo', 'Hiragino Kaku Gothic ProN', sans-serif;
    font-size: 100%;
  }
  
 p {
    font-size: 100%;
    margin-top: 1em;
   line-height: 1.3; /* 行間を1.6倍に設定 */
 }

  ul li{
    font-size: small;
    line-height: 1.4;
    margin: 0.2em;
  }
  
  ol li{
    font-size: small;
    line-height: 1.4;
    margin: 0.2em;
  }

/* Main Level */
ul {
  padding-left: 20px; /* メインレベルのパディング */
}

/* Second Level */
ul ul {
  padding-left: 30px; /* 2番目のレベルのパディング */
}

/* Third Level */
ul ul ul {
  padding-left: 30px; /* 3番目のレベルのパディング */
}

/* Main Level */
ol {
  padding-left: 20px; /* メインレベルのパディング */
}

/* Second Level */
ol ol {
  padding-left: 30px; /* 2番目のレベルのパディング */
}

/* Third Level */
ol ol ol {
  padding-left: 30px; /* 3番目のレベルのパディング */
}

.blockquote {
    font-size: 90%;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0.5em 0px;   /* 上下に1em・左右に0px */
}

.blockquote p {
    font-size:95%;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.2;
    margin: 0.5em 0px;   /* 上下に1em・左右に0px */
}

div.column-container p {
    font-size: 85%;
}

.csl-entry {
    font-size: 90%;
    margin: 0.5em 0px;   /* 上下に1em・左右に0px */
}

.callout-body-container p {
    font-size:95%;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 1.2;
    margin: 0.5em 0px;   /* 上下に1em・左右に0px */
}

/* styles.css */
.footnotes p {
    font-size: 11px; /* 文字の大きさを指定 */
    line-height: 1.5; /* 行間を指定 */
    color: #333; /* 文字の色を指定 */
}

/* フットノート番号のスタイル */
.footnote-ref sup {
    font-size: 9px; /* 文字の大きさを指定 */
    line-height: 1; /* 行間を指定 */
    color: #333; /* 文字の色を指定 */
}

/* custom_styles.css */
#refs {
    font-size: 12px;
}

.print-only {
      display: block;
}
